.btn {
    background-color: #f000a0;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    width: 250px;
}

.btn:hover {
    background-color: #f55b08;
}

.clear {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: plum;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

.clear:hover {
    background-color: #f58ed1;
}